<?xml version="1.0" encoding="utf-8" ?>
<CrimsonLogic xmlns="CrimsonLogic.Common.Configuration">
  <sections>
    <section name="sectionA">
      <detail key="keyA" value="valueA"/>
      <detail key="keyAA" value="valueAA"/>
    </section>
    <section name="sectionB">
      <detail key="keyB" value="valueB"/>
    </section>
    <section name="Kernel">
      <detail key="AppEnvironment" value="SubCourt"/>
    </section>
    <section name="AppMon">
      <!-- Value is measured in integer minutes -->
      <detail key="BizTalk" value="5"/>
      <!-- Value is measured in integer minutes -->
      <detail key="PurgeTransactionInterval" value="5"/>
      <!-- Value is measured in integer percentage -->
      <detail key="ThresholdStorageCapacity" value="80"/>
      <!-- Value is measured in integer minutes -->
      <detail key="StorageCapacityCheckInterval" value="5"/>
    </section>
  </sections>
</CrimsonLogic>