<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	<!-- Start NHibernate Session Management Settings -->
	<section name="nhibernateSettings" type="CrimsonLogic.Common.DataAccess.NHibernate.OpenSessionInViewSection, CrimsonLogic.Common.DataAccess.NHibernate, Version=1.0.0.0, Culture=neutral, PublicKeyToken=5fb9aab394206ec1" />
	<!-- End NHibernate Session Management Settings -->
	</configSections>
	<!-- Start NHibernate Session Management Settings -->
	<nhibernateSettings>
		<!-- List every session factory that will be needed; transaction management and closing sessions 
		will be managed with the open-session-in-view module -->
		<sessionFactories>
			<clearFactories />
			<sessionFactory name="Application" factoryConfigPath="DataAccess.BackEnd.HighCourt.Tests\BackEnd.Application.NHibernate.config" isTransactional="true"/>
		</sessionFactories>
	</nhibernateSettings>
	<!-- End NHibernate Session Management Settings -->
	<!-- Start log4net Settings -->
</configuration>