<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
  <session-factory name="Application">
    <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <!--<property name="connection.connection_string">Data Source=192.168.32.105;Database=IELSSUV12;User ID=sqluser;Password=Pass1234;</property>-->
    <property name="connection.connection_string">Data Source=192.168.32.205;Database=IELSBE_V12;User ID=sqlUser;Password=Pass1234;</property>
	  <!--<property name="connection.connection_string">Data Source=192.168.32.184;Database=IELSBE_V12;User ID=ielsbedevuser;Password=Pass1234;</property>-->
    <property name="connection.isolation">ReadCommitted</property>
    <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle, Version=2.1.2.4000, Culture=neutral, PublicKeyToken=aa95f207798dfdb4</property>
    <property name="show_sql">true</property>
    <property name="default_schema">IELSBE_V12</property>
    <!-- HBM Mapping Files -->
    <mapping assembly="CrimsonLogic.Legal.Entities.BackEnd, Version=1.0.0.0, Culture=neutral, PublicKeyToken=5fb9aab394206ec1" />
  </session-factory>
</hibernate-configuration>