<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CrimsonLogic" type="CrimsonLogic.Common.Configuration.Custom.CustomSectionConfig, CrimsonLogic.Common.Configuration.Custom"/>
    <section
        name="castle"
        type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <castle configSource="CastleWindsor.config"/>
  <CrimsonLogic configSource="ConfigFolder\CrimsonLogic.Legal.Binder.BackEnd.Configuration.config"/>
  <connectionStrings>
    <add name="IELS" connectionString="Data Source=192.168.32.218;Initial Catalog=IELSBE_V12;User ID=devuser;Password=Pass1234;"/>
    <add name="AppMonConnection" connectionString="Data Source=test.appmon.db" providerName="System.Data.SQLite" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>
</configuration>