<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MBeanServerServiceBehavior">
          <serviceMetadata />
          <serviceDebug />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MBeanServerServiceBehavior" name="NetMX.Remote.ServiceModel.MBeanServerService">
        <endpoint binding="basicHttpBinding" name="http" contract="NetMX.Remote.ServiceModel.IMBeanServerContract" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7777/MBeanServer" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint name="remoteServer" 
                binding="basicHttpBinding" 
                address="http://localhost:7777/MBeanServer"
                contract="NetMX.Remote.ServiceModel.IMBeanServerContract"/>
    </client>
  </system.serviceModel>
</configuration>